<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.cwctravel.eclipse.plugins.dependencies.dependencyResolvers" name="dependencyResolvers" schema="schema/com.cwctravel.eclipse.plugins.dependencies.dependencyResolvers.exsd"/>
   <extension-point id="com.cwctravel.eclipse.plugins.dependencies.classpathEntriesProvider" name="classpathEntriesProvider" schema="schema/com.cwctravel.eclipse.plugins.dependencies.classpathEntriesProvider.exsd"/>
   <extension
         id="com.cwctravel.eclipse.plugins.dependencies.DependenciesNature"
         name="Dependencies Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.cwctravel.eclipse.plugins.dependencies.DependenciesNature">
         </run>
      </runtime>
   </extension>
   
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
		 <classpathContainerInitializer                                          
		      id="com.cwctravel.eclipse.plugins.dependencies.DEPENDENCIES_CLASSPATH_CONTAINER"                                                        
		      class="com.cwctravel.eclipse.plugins.dependencies.DependenciesClasspathContainerInitializer"/>                    
   </extension>
   
	<extension 
         point="org.eclipse.jdt.ui.classpathContainerPage">
         <classpathContainerPage
          id="com.cwctravel.eclipse.plugins.dependencies.DEPENDENCIES_CLASSPATH_CONTAINER"
          name="Dependencies"
          class="com.cwctravel.eclipse.plugins.dependencies.DependenciesClasspathContainerPage"/>
   </extension>      

   
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
         <compilationParticipant
         class=" com.cwctravel.eclipse.plugins.dependencies.DependenciesCompilationParticipant"
         id="Dependencies Resolver"
         modifiesEnvironment="true"
          >      
   </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.cwctravel.eclipse.plugins.dependencies.commands.category"
            name="Dependencies Category">
      </category>
      <command
            categoryId="com.cwctravel.eclipse.plugins.dependencies.commands.category"
            id="com.cwctravel.eclipse.plugins.dependencies.commands.refreshCommand"
            name="Refresh">
      </command>
      <command
            categoryId="com.cwctravel.eclipse.plugins.dependencies.commands.category"
            id="com.cwctravel.eclipse.plugins.dependencies.commands.toggleNatureCommand"
            name="Configure/Deconfigure">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cwctravel.eclipse.plugins.dependencies.handlers.RefreshHandler"
            commandId="com.cwctravel.eclipse.plugins.dependencies.commands.refreshCommand">
      </handler>
      <handler
            class="com.cwctravel.eclipse.plugins.dependencies.handlers.ToggleNatureHandler"
            commandId="com.cwctravel.eclipse.plugins.dependencies.commands.toggleNatureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.cwctravel.eclipse.plugins.dependencies.commands.refreshCommand"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <menu
               id="com.cwctravel.eclipse.plugins.dependencies.menus.dependenciesMenu"
               label="Dependencies"
               mnemonic="M">
            <command
                  commandId="com.cwctravel.eclipse.plugins.dependencies.commands.refreshCommand"
                  id="com.cwctravel.eclipse.plugins.dependencies.menus.refreshCommand"
                  label="Refresh"
                  mnemonic="S">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.cwctravel.eclipse.plugins.dependencies.DependenciesNature">
                           </test>
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.cwctravel.eclipse.plugins.dependencies.commands.toggleNatureCommand"
                  id="com.cwctravel.eclipse.plugins.dependencies.menus.toggleNatureCommand"
                  label="Add Dependencies Feature"
                  mnemonic="T"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.cwctravel.eclipse.plugins.dependencies.DependenciesNature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
            <command
                  commandId="com.cwctravel.eclipse.plugins.dependencies.commands.toggleNatureCommand"
                  label="Remove Dependencies Feature"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.cwctravel.eclipse.plugins.dependencies.DependenciesNature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.runtimeClasspathEntryResolvers">
         <runtimeClasspathEntryResolver 
			id="com.cwctravel.eclipse.plugins.dependencies.DependenciesRuntimeClasspathResolver"
			      class="com.cwctravel.eclipse.plugins.dependencies.DependenciesRuntimeClasspathResolver"
			      container="com.cwctravel.eclipse.plugins.dependencies.DEPENDENCIES_CLASSPATH_CONTAINER">
			   </runtimeClasspathEntryResolver>         
   </extension>
   <extension
         id="com.cwctravel.eclipse.plugins.dependencies.problemMarker"
         name="Dependencies Refresh Error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
         <classpathProvider
            class="com.cwctravel.eclipse.plugins.dependencies.DependenciesClasspathProvider"
            id="com.cwctravel.eclipse.plugins.dependencies.DependenciesClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="com.cwctravel.eclipse.plugins.dependencies.classpathEntriesProvider">
      <classpathEntriesProvider
            class="com.cwctravel.eclipse.plugins.dependencies.DefaultClasspathEntriesProvider">
      </classpathEntriesProvider>
   </extension>
</plugin>
